//
   Created by Lorenzo on 2016/2/28.
doctype html
html
    head
        title= title
        block links
            link(href="/images/favicon.ico" mce_href="favicon.ico" rel="bookmark" type="image/x-icon")
            link(href="/images/favicon.ico" mce_href="favicon.ico" rel="icon" type="image/x-icon")
            link(href="/images/favicon.ico" mce_href="favicon.ico" rel="shortcut icon" type="image/x-icon")
            link(href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet")
            link(rel='stylesheet', href='/stylesheets/common/base.css')
            link(rel='stylesheet', href='/stylesheets/common/formStyle.css')
            link(rel='stylesheet', href='/stylesheets/global.css')
            link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        block pageLink
        block scripts
            script(src="//cdn.bootcss.com/jquery/1.10.0/jquery.min.js")
            script(src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js")
            script(src="/javascripts/global.js")
        block pageScripts
    body
        //nav
        //    span
        //        a(title="主页" href="/") home
        //        if user
        //            a(title="登出" href="/logout") logout
        //        else
        //            a(title="登录" href="/login") login
        //            a(title="注册" href="/reg") register
        block content

        block foot
            footer.footer.col-xs-12 &copy; 2016