//
   Created by Lorenzo on 2016/2/4.

extends layout
block content
    #container
        #content
            #background
                h1 Happy New Year !
                canvas#myCanvas
block scripts
    script(src='/javascripts/newYear.js')