/**
    index page
**/
.blog_main {
    background: white;
}
@media screen and (min-width: 1370px) {
    .blog_main {
        width: 1360px;
        margin: 0 auto;
    }
}

.blog_item {
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #cccccc;
}
.blog_item_title {text-align: center}
.blog_item_content {
    font-size: 1.1em;
    line-height: 1.8em;
    text-indent: 2em;
    color: #666;
    margin-top: 15px;
}
.blog_item_user_name {
    font-size: 0.8em;
    color: #999;
    text-align: center;
    margin: 20px 0;
}

/**
    new page
**/
.blog_title {margin: 20px;}
.blog_content {margin: 20px 20px 0}
.blog_content textarea {min-height: 340px;}
.blog_submit .button {width: 10%}
.blog_submit button:first-child {margin:20px;}