//
   Created by Lorenzo on 2016/3/15.
nav.navbar.navbar-default
    .container
        .collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/') Home
                li
                    a(href='/login') 技术需求
                li
                    a(href='/reg') 技术方案
                li
                    a(href='/reg') 共创空间
                li
                    a(href='/reg') 技术线索
                if user
                    li
                        a(href='/logout') Logout